/*--------------
     Fonts 
------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');


/*------------------------ 
    Common Styles 
 ------------------------*/
body {
    background-color: rgba(255, 144, 14, 0.1);
    font-family: 'Work Sans', sans-serif;
    color: #131313;
}


/*------------------------
    Header Style Start 
 -----------------------*/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    margin: 25px 0px;
}

.nav-container {
    display: flex;
    gap: 45px;
}

.nav li {
    font-size: 18px;
    font-weight: 500px;
    list-style: none;

}

.nav a {
    text-decoration: none;
    color: #131313;
}

/*------------------------
    Header Style End 
 -----------------------*/

/*-----------------------------------
         First Section Start 
 ---------------------------------- */
.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 862px;
    height: 225px;
    padding: 10px;
}

.first-section-details h3 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px;
}

.first-section-details p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
}

.explore-button {
    width: 180px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color: #FF900E;
    border: none;
    padding: 20px;
    margin: 32px 0px 50px 0px;
}

/*-----------------------------------
         First Section End
 ---------------------------------- */
/*-----------------------------------
         Second Section start
 ---------------------------------- */
.second-section {
    display: flex;
    align-items: center;
    gap: 76px;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 24px;
    margin-left: 300px;
    margin-top: 150px;
}

.second-section-info {
    width: 537px;
    height: 304px;
}

.second-section-info h3 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.second-section-info p {
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    margin: 0px 0px;
}

#quick {
    color: #727272;
}

#our {
    color: #131313;
    font-weight: 700;
}

#features {
    color: #FF900E;
    font-weight: 700;
}

/*-----------------------------------
         Second Section start
 ---------------------------------- */

 /*-----------------------------------
         Third Section start
 ---------------------------------- */
 .third-section{
    display: flex;
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 145px;
    gap: 54px;
 }
 .box{
    width: 5px;
    height: 106px;
    background-color: #FF900E;
 }
 .header-details, h3{
    font-size: 45px;
    display: flex;
    gap: 21px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
 .features-header p{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 0px;
 }
 .features-list{
    display: grid;
    margin-top: 30px;
    padding: 30px;
    gap: 20px;
 }
 .feature{
    width: 586px;
    padding: 30px;
 }
 .feature h4{
    margin: 0px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #131313;
 }
 .feature p{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #727272;
    line-height: 26px;
}
.btn{
    color: white ;
    background-color: #FF900E;
    padding: 45px;
    border: none;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: -92px; 
}
#years{
    font-size: 65px;
    font-weight: 600;
    margin: 0px 0px;
}
#experience{
    font-size: 25px;
    font-weight: 500px;
    margin: 0px 0px;
}

 /*-----------------------------------
         Third Section End
 ---------------------------------- */